# Default ignored files
/shelf/
/workspace.xml

/dictionaries
/ejemplos_apiSAGE50.iml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
